body {
  font-family: 'Schoolbell', cursive;
  margin: 0px;
}

.background-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: fixed;
  z-index: -3;
  opacity: 0.5;
  margin-top: -20px;

}



p {
float: left;

}

.letterDiv {
  display: block;
  left: 50%;
  font-size: 100px;
}

.letter {
  display: inline-block;
  border-bottom: solid 4px black;
  margin: 40px;
  width: 40px;
}

.invisibleWord {
  display: none;
}

